# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDEs
.vscode/
.idea/

# Tests
tests/
